openapi: 3.0.1

info:
  description: merged spec
  title: merged spec
  version: 1.0.0

servers:
  - url: https://lis.virginia.gov

paths:
  /Member/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /LegislationFileGeneration/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /LegislationVersion/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /Member/api/getdistrictreferencesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictsReferenceResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Districts
      tags:
      - PublicActions
  /LegislationSubject/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /MembersByCommittee/api/getcommitteememberslisttextasync:
    get:
      parameters:
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Committee
        in: query
        name: CommitteeID
        required: true
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: Success
        "204":
          description: No Content
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Committee Members in text format
      tags:
      - PublicActions
  /LegislationVersion/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /Organization/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /PartnerAuthentication/api/heartbeatasync:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /CommitteeLegislationReferral/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /Legislation/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /CommunicationFileGeneration/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /Calendar/api/getcategorytypesreferenceasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryTypesResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a List of Calendar Category Types
      tags:
      - PublicActions
  /MinutesBook/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /MinutesBook/api/getminutesbookinteractivecalendarasync:
    get:
      parameters:
      - description: Unique identifier for Minute Book
        in: query
        name: minutesBookID
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: Unique identifier for Calendar
        in: query
        name: calendarID
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: Unique reference number for Calendar
        in: query
        name: referenceNumber
        schema:
          maxLength: 25
          type: string
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          maxLength: 10
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicMinutesBooks'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of MinutesBooks for Interactive Calendar
      tags:
      - PublicActions
  /MinutesBook/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /api/requestresetuserpasswordasync:
    post:
      parameters:
      - description: emailAddress
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Accepted
        "204":
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Requests a Password Reset via email
      tags:
      - PublicUser
  /LegislationPatron/api/getpatronroletypelistasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatronRolesReference'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Patron Role Types
      tags:
      - PublicActions
  /LegislationText/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /LegislationEvent/api/getlegislationeventbylegislationidasync:
    get:
      parameters:
      - description: Unique identifier for Legislation
        in: query
        name: legislationID
        schema:
          format: int32
          type: integer
      - description: Reconsideration action event code
        in: query
        name: reconsiderationAction
        schema:
          type: string
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicLegislationEventsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation Events by Legislation
      tags:
      - PublicActions
  /PartnerAuthentication/api/heartbeat/heartbeatasync:
    get:
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /Calendar/api/getdocketsbyidasync:
    get:
      parameters:
      - description: Unique identifier for Docket
        in: query
        name: docketId
        required: true
        schema:
          type: string
      - description: Reference number for Docket
        in: query
        name: referenceNumber
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocketsWithSchedulesPublicGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a List of Public Dockets using unique identifier
      tags:
      - PublicActions
  /MembersByCommittee/api/getcommitteememberslistasync:
    get:
      parameters:
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Committee
        in: query
        name: committeeID
        required: true
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersByCommitteeSearchResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Committee Members
      tags:
      - PublicActions
  /Contact/api/getownertypereferencesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerTypeReferencesResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Owner Types
      tags:
      - PublicActions
  /Calendar/api/getdocketlistbycommitteenumberasync:
    get:
      parameters:
      - description: Session Code (e.g. 20181)
        in: query
        name: sessionCode
        required: true
        schema:
          type: string
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        required: true
        schema:
          type: string
      - description: "Committee # (e.g. S12)"
        in: query
        name: committeeNumber
        required: true
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocketsPublicListGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: "Get a List of Dockets by Session Code, Committee Number and Chamber\
        \ Code\r\nOnly Show Public Dockets"
      tags:
      - PublicActions
  /LegislationByMember/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /CommitteeLegislationReferral/api/getcommitteeactionreferencesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeActionsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Committee Actions
      tags:
      - PublicActions
  /Calendar/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /Legislation/api/getlegislationbylegislationidsasync:
    post:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LegislationIdsListResponse'
          application/json:
            schema:
              $ref: '#/components/schemas/LegislationIdsListResponse'
          text/json:
            schema:
              $ref: '#/components/schemas/LegislationIdsListResponse'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LegislationIdsListResponse'
        description: LegislationIdsListResponse
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation based on set of Legislation IDs
      tags:
      - PublicActions
  /LegislationSummary/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /api/getclerkpersonnellistasync:
    get:
      parameters:
      - description: Unique identifier for Committee
        in: query
        name: affiliationID
        schema:
          format: int32
          type: integer
      - description: date this assignment began
        in: query
        name: effectiveBeginDate
        schema:
          format: date-time
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPersonnelsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Committee Clerks (Personnel)
      tags:
      - PublicActions
  /MembersByCommittee/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /api/getvotebyidasync:
    get:
      parameters:
      - description: Unique identifier for Legislation
        in: query
        name: LegislationID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Vote
        in: query
        name: voteID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          type: string
      - description: Vote number
        in: query
        name: voteNumber
        schema:
          maxLength: 25
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicVoteResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a Public Vote
      tags:
      - PublicActions
  /LegislationSummary/api/getlegislationsummarylistasync:
    get:
      description: "This endpoint will be used to track \"frequently-accessed bills\"\
        \ so this endpoint should \r\n            ONLY be called by the UI in strictly-agreed-upon\
        \ scenarios (currently only used in /bill-details)."
      parameters:
      - description: "Bill numbers, comma separated, zero padded. (eg., \"HB0012,SB0021\"\
          )"
        in: query
        name: legislationNumber
        schema:
          type: string
      - description: Unique identifier for Legislation
        in: query
        name: legislationID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicLegislationSummariesResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation Summaries
      tags:
      - PublicActions
  /Contact/api/getcontactbyidasync/{contactInformationId}:
    get:
      parameters:
      - description: Unique identifier for Contact Information
        in: path
        name: contactInformationId
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsPublicGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Contacts by unique identifier
      tags:
      - PublicActions
  /api/getpersonnellistasync:
    get:
      parameters:
      - description: Unique identifier for Committee
        in: query
        name: affiliationID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Staff Role Type
        in: query
        name: staffRoleTypeID
        schema:
          format: int32
          type: integer
      - description: date this assignment began
        in: query
        name: effectiveBeginDate
        schema:
          format: date-time
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPersonnelsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Committee Staff (Personnel)
      tags:
      - PublicActions
  /Legislation/api/getlegislationidslistasync:
    post:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AdvancedSearch'
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedSearch'
          text/json:
            schema:
              $ref: '#/components/schemas/AdvancedSearch'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AdvancedSearch'
        description: AdvancedSearch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationIdsListResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation IDs
      tags:
      - PublicActions
  /LegislationByMember/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /LegislationPatron/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /Authentication/api/refreshaccesstokenasync:
    post:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          description: Server Error
      summary: Refreshes the access token
      tags:
      - Authentication
  /api/getcommitteelistasync:
    get:
      parameters:
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        schema:
          type: string
      - description: Unique identifier for parent Committee
        in: query
        name: parentCommitteeID
        schema:
          format: int32
          type: integer
      - description: Should subcommittees be returned as well?
        in: query
        name: includeSubCommittees
        schema:
          default: false
          type: boolean
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCommitteesResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a shallow list of Committees
      tags:
      - PublicActions
  /api/getcommitteebyidasync:
    get:
      parameters:
      - description: unique identifier for Committee
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: unique identifier for Session
        in: query
        name: sessionID
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCommitteesResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a committee by unique identifier
      tags:
      - PublicActions
  /LegislationEvent/api/getlegislationeventtypereferencesasync:
    get:
      parameters:
      - description: Is this searchable?
        in: query
        name: isSearchable
        schema:
          type: boolean
      - description: Is this public?
        in: query
        name: isPublic
        schema:
          type: boolean
      - description: Is this active?
        in: query
        name: isActive
        schema:
          type: boolean
      - description: Legislation Chamber code (H/S)
        in: query
        name: LegislationChamberCode
        schema:
          type: string
      - description: Unique identifier for Calendar Category Type
        in: query
        name: CalendarCategoryTypeID
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationEventTypesReferenceResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation Event Types
      tags:
      - PublicActions
  /api/getdefaultsessionasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionsPublicGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Sessions marked as default
      tags:
      - PublicActions
  /MembersByCommittee/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /MemberVoteSearch/api/getmembervotelistasync:
    get:
      parameters:
      - description: Unique identifier for Member
        in: query
        name: memberId
        required: true
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Session
        in: query
        name: sessionId
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Vote Type
        in: query
        name: voteTypeId
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersVoteSearchResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Member Votes
      tags:
      - PublicActions
  /LegislationCollections/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /api/createpublicuserasync:
    post:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreatePublicUserRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublicUserRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreatePublicUserRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreatePublicUserRequest'
        description: CreatePublicUserRequest
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Registers a User
      tags:
      - PublicUser
  /Legislation/api/getlegislationstatuslistasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationsReferencesResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation Statuses
      tags:
      - PublicActions
  /Calendar/api/getcalendaractionsreferenceasync:
    get:
      parameters:
      - description: Unique identifier for Calendar Category Type
        in: query
        name: calendarCategoryTypeID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Calendar Type
        in: query
        name: calendarTypeID
        schema:
          format: int32
          type: integer
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        schema:
          type: string
      - description: Origination Chamber code of Legislation (H/S)
        in: query
        name: legislationChamberCode
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarActionResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a List of Calendar Actions
      tags:
      - PublicActions
  /LegislationSubject/api/getsubjectreferencesasync:
    get:
      parameters:
      - description: unique identifier of Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectsReference'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Subject References by Session
      tags:
      - PublicActions
  /api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /Contact/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /api/getvotetypereferencesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteTypes'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Vote Types
      tags:
      - PublicActions
  /api/previewvcalfileasync:
    get:
      parameters:
      - description: List of unique identifiers for Meetings
        in: query
        name: scheduleIDs
        schema:
          items:
            format: int32
            type: integer
          type: array
      - description: committee id for assignment
        in: query
        name: ownerID
        schema:
          format: int32
          type: integer
      - description: Schedule Type ID
        in: query
        name: scheduleTypeID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for vote room
        in: query
        name: voteRoomID
        schema:
          format: int32
          type: integer
      - description: start date
        in: query
        name: startDate
        schema:
          format: date-time
          type: string
      - description: End date
        in: query
        name: endDate
        schema:
          format: date-time
          type: string
      - description: should write file to CDN?
        in: query
        name: writeToAzureCDN
        schema:
          default: false
          type: boolean
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
          description: Success
        "204":
          description: No Content
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Generates vCal file for Meetings
      tags:
      - PublicActions
  /MinutesBook/api/getactionreferencetypelistasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionReferenceTypesList'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Action Reference Types
      tags:
      - PublicActions
  /LegislationCommunications/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /api/resetuserpasswordasync:
    post:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UserInformationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UserInformationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UserInformationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UserInformationRequest'
        description: userInformationRequest
        required: true
      responses:
        "200":
          description: Accepted
        "202":
          description: Success
        "204":
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Resets a user password
      tags:
      - PublicUser
  /Member/api/getcommitteeslistasync:
    get:
      parameters:
      - description: Effective date
        in: query
        name: effectiveDate
        schema:
          format: date-time
          type: string
      - description: Unique identifier for Member
        in: query
        name: MemberID
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteesByMemberSearchResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Committees by Member
      tags:
      - PublicActions
  /LegislationSummary/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /Authentication/api/getaccesstokenasync:
    post:
      parameters:
      - description: ""
        in: query
        name: accessToken
        required: true
        schema:
          type: string
      - description: ""
        in: query
        name: expiresin
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          description: Server Error
      summary: Get Access Token
      tags:
      - Authentication
  /LegislationVersion/api/getlegislationversionbybillnumberasync:
    get:
      parameters:
      - description: "Bill number (eg., \"HB12\")"
        in: query
        name: BillNumber
        schema:
          type: string
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Session code (eg. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationsVersionResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets LIS Legislation Version for a particular Bill Number and a particular
        session)
      tags:
      - PublicActions
  /api/registerpublicuserasync:
    post:
      parameters:
      - description: emailAddress
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Accepted
        "204":
          description: Success
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Initial registration of a User
      tags:
      - PublicUser
  /LegislationText/api/getlegislationtextbyidasync:
    get:
      parameters:
      - description: Unique identifier for Legislation
        in: query
        name: legislationID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Legislation Text
        in: query
        name: legislationTextID
        schema:
          format: int32
          type: integer
      - description: is this active?
        in: query
        name: IsActive
        schema:
          type: boolean
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          type: string
      - description: Session code (e.g. 20181
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Legislation document code
        in: query
        name: documentNumber
        schema:
          type: string
      - description: Legislation number
        in: query
        name: legislationNumber
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationsTextGetResponse'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Get a list of Legislation Text by unique identifier
      tags:
      - PublicActions
  /LegislationByMember/api/getmemberlegislationlistasync:
    get:
      parameters:
      - description: Unique identifier for Patron Type
        in: query
        name: patronTypeID
        schema:
          format: int32
          type: integer
      - description: Unique id for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Date Range Start Date
        in: query
        name: startDate
        schema:
          format: date-time
          type: string
      - description: Date Range End Date
        in: query
        name: endDate
        schema:
          format: date-time
          type: string
      - description: Unique id for Member
        in: query
        name: memberID
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Member Legislation
      tags:
      - PublicActions
  /api/getsessionshallowlistasync:
    get:
      parameters:
      - description: Unique identifier for Session T
        in: query
        name: sessionTypeID
        schema:
          format: int32
          type: integer
      - description: Session year
        in: query
        name: sessionYear
        schema:
          format: int32
          type: integer
      - description: Is it active?
        in: query
        name: IsActive
        schema:
          type: boolean
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionsShallowPublicGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a shallow list of Sessions
      tags:
      - PublicActions
  /MembersByCommittee/api/getcommitteerolesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeRolesReference'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Committee Roles
      tags:
      - PublicActions
  /LegislationCommunications/api/getlegislationcommunicationslistasync:
    get:
      parameters:
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          type: string
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        schema:
          type: string
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Communication Type
        in: query
        name: communicationType
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCommunicationsList'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation Communications
      tags:
      - PublicActions
  /Contact/api/getcontactsbycontacttypeidasync/{contactTypeID}:
    get:
      parameters:
      - description: Unique identifier for Contact Type
        in: path
        name: contactTypeID
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsPublicGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Contacts by a contact type
      tags:
      - PublicActions
  /Member/api/getmemberbyidasync:
    get:
      parameters:
      - description: Unique identifier for Member
        in: query
        name: memberID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicMembersResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a Member by unique identifier
      tags:
      - PublicActions
  /Organization/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /api/getcommitteestatisticsasync:
    get:
      parameters:
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        required: true
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeStatisticsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets Committee Statistics by session and chamber
      tags:
      - PublicActions
  /LegislationText/api/getlegislationtextactionlistasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationTextActionsList'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation Text Actions
      tags:
      - PublicActions
  /api/getreferencesasync:
    get:
      parameters:
      - description: effective begin date
        in: query
        name: effectiveBeginDate
        schema:
          format: date-time
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPersonnelsResponse'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Personnel
      tags:
      - PublicActions
  /LegislationText/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /PartnerAuthentication/api/clearpubliccache:
    get:
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /LegislationPatron/api/getlegislationpatronsbyidasync/{legislationID}:
    get:
      parameters:
      - description: Unique identifier for the Legislation
        in: path
        name: legislationID
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationPatronsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Patrons using legislation unique identifier
      tags:
      - PublicActions
  /api/getpersonlistasync:
    get:
      parameters:
      - description: Person Full Name
        in: query
        name: FullName
        schema:
          maxLength: 100
          type: string
      - description: Person First Name
        in: query
        name: FirstName
        schema:
          maxLength: 25
          type: string
      - description: Person Middle Name
        in: query
        name: MiddleName
        schema:
          maxLength: 25
          type: string
      - description: Person Last Name
        in: query
        name: LastName
        schema:
          maxLength: 25
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPersonsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Persons
      tags:
      - PublicActions
  /Contact/api/getcontactsbyownerasync:
    get:
      parameters:
      - description: Unique identifier for Owner
        in: query
        name: ownerID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Owner Type
        in: query
        name: ownerTypeID
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsPublicGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Contacts by Owner
      tags:
      - PublicActions
  /LegislationText/api/getdrafttextbylegislationtextidasync:
    get:
      parameters:
      - description: Unique identifier for Legislation Text
        in: query
        name: legislationTextID
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationTextDraftsResponse'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets Legislation Draft Text by unique identifier
      tags:
      - PublicActions
  /CommitteeLegislationReferral/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /LegislationText/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /api/getsessiontypereferencesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionTypesReferenceResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Session Types
      tags:
      - PublicActions
  /Member/api/getpartyreferencesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartiesReferenceResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Political Parties
      tags:
      - PublicActions
  /Calendar/api/getcalendarlistasync:
    get:
      parameters:
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          type: string
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        required: true
        schema:
          type: string
      - description: Code for Session (e.g. 20181 = 2018 Regular Session)
        in: query
        name: sessionCode
        schema:
          format: int32
          type: integer
      - description: ""
        in: query
        name: calendarDate
        schema:
          format: date-time
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsPublicListGetResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a List of Calendars
      tags:
      - PublicActions
  /Organization/api/getorganizationlistasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOrganizationsResponse'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Organizations
      tags:
      - PublicActions
  /Member/api/getchambertypereferencesasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChamberTypesReferenceResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Chambers
      tags:
      - PublicActions
  /LegislationCommunications/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /LegislationVersion/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /Legislation/api/getlegislationbyidasync/{legislationID}:
    get:
      parameters:
      - description: Unique identifier for Legislation
        in: path
        name: legislationID
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislationsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Public Legislation using unique identifier
      tags:
      - PublicActions
  /LegislationSubject/api/heartbeat/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Checks service health
      tags:
      - HeartBeat
  /Contact/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /api/getpersonbyidasync/{identityId}:
    get:
      parameters:
      - description: Unique identifier for Person
        in: path
        name: identityId
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPersonsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Persons by unique identifier
      tags:
      - PublicActions
  /api/getschedulelistasync:
    get:
      parameters:
      - description: List of unique identifiers for Meetings
        in: query
        name: scheduleIDs
        schema:
          items:
            format: int32
            type: integer
          type: array
      - description: Unique identifier for Committee
        in: query
        name: ownerID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Schedule Type
        in: query
        name: scheduleTypeID
        schema:
          format: int32
          type: integer
      - description: Unique identifier for Vote Room
        in: query
        name: voteRoomID
        schema:
          format: int32
          type: integer
      - description: start date
        in: query
        name: startDate
        schema:
          format: date-time
          type: string
      - description: End date
        in: query
        name: endDate
        schema:
          format: date-time
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSchedulesResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Meetings for non Docket and Calendar related items
      tags:
      - PublicActions
  /Legislation/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /Member/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /CommunicationFileGeneration/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /Authentication/api/loginasync:
    post:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        description: LoginRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "500":
          description: Server Error
      summary: Makes a request to login
      tags:
      - Authentication
  /LegislationText/api/getsponsortypelistasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorTypesResponse'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Sponsor Types
      tags:
      - PublicActions
  /LegislationCommunications/api/getcommunicationcategoryreferencesasync:
    get:
      parameters:
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationCategoryTypesReference'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Legislation Communication Categories
      tags:
      - PublicActions
  /Calendar/api/clearpubliccache:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Clear all cache for this controller
      tags:
      - PublicActions
  /Organization/api/getorganizationbyidasync/{organizationId}:
    get:
      parameters:
      - description: Unique identifier of Organization
        in: path
        name: organizationId
        required: true
        schema:
          format: int32
          type: integer
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOrganizationsResponse'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Organizations by unique identifier
      tags:
      - PublicActions
  /Member/api/getmemberscontactinformationlistasync:
    get:
      parameters:
      - description: Session code (e.g. 20181)
        in: query
        name: sessionCode
        schema:
          type: string
      - description: Unique identifier for Session
        in: query
        name: sessionID
        schema:
          format: int32
          type: integer
      - description: Effective date
        in: query
        name: effectiveDate
        schema:
          format: date-time
          type: string
      - description: Chamber code (H/S)
        in: query
        name: chamberCode
        schema:
          type: string
      - description: Unique identifier for Contact Type
        in: query
        name: contactTypeID
        schema:
          type: string
      - description: Member number (e.g. H289)
        in: query
        name: memberNumber
        schema:
          type: string
      - description: Political party (R/D/I)
        in: query
        name: partyCode
        schema:
          type: string
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersContactInformationSearchResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Member Contact Information
      tags:
      - PublicActions
  /LegislationEvent/api/heartbeatasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartBeatPublicModel'
          description: Success
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets telemetry on service health
      tags:
      - PublicActions
  /LegislationSummary/api/getsummaryversionsreferenceasync:
    get:
      parameters:
      - description: Partner WebAPIKey
        in: header
        name: WebAPIKey
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryVersionsResponse'
          description: Success
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "500":
          description: Server Error
      summary: Gets a list of Summary Versions
      tags:
      - PublicActions
[...]
